.span-22.push-3
	#dashboard-title
		%h1= "Hackerviz"
		%h4
			= "Visualizing Hackernews - Built by Saranyan"
			%span{:id => "nextpage"}
				- if @feed != nil
					= link_to "Next Page", {:action => "next_page", "np" => @np.to_s}, :class => "defring", :remote => true
			= link_to "About", "http://saranyan.com/post/123456/hackerviz",:target =>'_blank'
		#loading-image
			= image_tag "ajax-loader.gif"

	%div{:id =>"isotope-container", :style => "display:none"}
		- if @feed != nil
			= render(:partial => "search_results", :locals => { :feed => @feed})

